<div id="pf2e-world-time-display" class="pf2e-world-time-display application">
    {{#if isGM}}
  <span class="time-controls">
    <button type="button" class="time-adjust-btn" data-adjust="-600">−10 {{localize "lang-pl-addons-pf2e.buttons.time.minutes"}}</button>
    <button type="button" class="time-adjust-btn" data-adjust="-3600">−1 {{localize "lang-pl-addons-pf2e.buttons.time.hours"}}</button>
    <button type="button" class="time-adjust-btn" data-adjust="-86400">−1 {{localize "lang-pl-addons-pf2e.buttons.time.days"}}</button>
  </span>
  {{/if}}

  <i class="fa-duotone fa-solid fa-clock"></i> <span class="time-text"> Czas PF2e niedostępny</span>

  {{#if isGM}}
  <span class="time-controls">
    <button type="button" class="time-adjust-btn" data-adjust="600">+10 {{localize "lang-pl-addons-pf2e.buttons.time.minutes"}}</button>
    <button type="button" class="time-adjust-btn" data-adjust="3600">+1 {{localize "lang-pl-addons-pf2e.buttons.time.hours"}}</button>
    <button type="button" class="time-adjust-btn" data-adjust="86400">+1 {{localize "lang-pl-addons-pf2e.buttons.time.days"}}</button>
  </span>
  {{/if}}
</div>
